{% load static %}
{% load bootstrap4 %}

<!-- Start Achivement Area -->
<section class="our-achievement section overlay">
    <div class="container">
        <div class="row">
            <canvas id="grafico-alunos" height="300"></canvas>
        </div>
    </div>
</section>
<!-- End Achivement Area -->
{% bootstrap_javascript jquery='full' %}

<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<script type="text/javascript">
    $.get('{% url "alunos-grafico" %}', function (dados) {
        let ctx = $("#grafico-alunos").get(0).getContext("2d");
        let rotulos = dados['labels']
        let valores = dados['datasets'][0]['data']

        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: rotulos,
                datasets: [{
                    data: valores,
                    backgroundColor: [
                        'rgba(28,33,194,0.9)',
                        'rgba(19,102,199,0.9)',
                        'rgba(27,36,89,0.9)',
                        'rgba(28,172,196,0.9)',
                        'rgba(0,255,255,0.9)',
                        'rgba(73,182,255,0.9)',
                    ]
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "rgba(240, 240, 240, 1)",
                        fontSize: 18,
                        margin: 100,
                    }
                },
            },
            plugins: [{
                beforeInit: function (chart, options) {
                    chart.legend.afterFit = function () {
                        this.height = this.height + 50;
                    };
                }
            }]
        });
    });
</script>