{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Hero Area -->
    {% include 'hero-area.html' %}
    <!--/ End Hero Area -->

    <!-- Start About Us Area -->
    {% include 'about-us-area.html' %}
    <!-- /End About Us Area -->

    <!-- Start Courses Area -->
    {% include 'courses-area.html' %}
    <!-- End Courses Area -->

    <!-- Start Achivement Area -->
    {% include 'achivement-area.html' %}
    <!-- End Achivement Area -->

    <!-- Start Newsletter Area -->
    {% include 'newsletter-area.html' %}
    <!-- /End Newsletter Area -->

    <!-- Start Clients Area -->
    {% include 'clients-area.html' %}
    <!-- End Clients Area -->
{% endblock %}