{% load static %}
<section class="newsletter-area section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <div class="newsletter-title">
                    <span>Sign Up for</span>
                    <h2>The Newsletter</h2>
                    <p>Subscribe to us to always stay in touch with us and get the latest news<br>
                        about our company and all of our activities!</p>
                </div>
                <!-- Start Newsletter Form -->
                <div class="subscribe-text wow fadeInUp" data-wow-delay=".2s">
                    <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                        <input name="EMAIL" placeholder="Your email address" class="common-input"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                               required="" type="email">
                        <div class="button">
                            <button class="btn">Subscribe Now!</button>
                        </div>
                    </form>
                    <ul class="newsletter-social">
                        <li><a href="javascript:void(0)"><i class="lni lni-facebook-original"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-google"></i></a></li>
                    </ul>
                </div>
                <!-- End Newsletter Form -->
            </div>
        </div>
    </div>
</section>